body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6; /* Modern, világos háttérszín */
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: #34495e;
}

#list-container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff; /* Modern fehér háttérszín */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: #95a5a6;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 4px; /* Kisebb szélesség */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c0392b;
}
